h1{
    color: rgb(224, 196, 83);
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-family: fantasy;
}

body{
    background-color: rgb(240, 240, 182);
    font-family: fantasy;
    text-align: center;
    flex-flow: row wrap;
}

h3{
    background-color: #f1e951;
    border-radius: 12px;
    border: 5px solid #f1e951;
    bottom: 5px;
    margin-left: 600px;
    width: 300px;
}
ol, p{
    background-color: #f1e951;
    border-radius: 12px;
    border: 5px solid #f1e951;
    bottom: 5px;
    width: 300px;
    margin-left: 600px;
}
ol {
    background-color: #81ce82;;
    border-radius: 12px;
    border: 5px solid #81ce82;;
    bottom: 5px;
    width: 300px;
    margin-left: 580px;
}
#id{
    background-color: #81ce82;
    border-radius: 12px;
    border: 5px solid #81ce82;
    bottom: 5px;
    width: 300px;
}


button{
    background-color: rgb(185, 185, 65);
    text-align: center;
}